@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins-Bold";
    src: url("/font/Poppins-Bold.otf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/font/Poppins-Medium.otf");
}

@font-face {
    font-family: "Poppins-Semibold";
    src: url("/font/Poppins-SemiBold.otf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("/font/Poppins-Regular.otf");
}
/*Scrollbar colored

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0047ab; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #003580; 
  }
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.slideshow-image{
    width: 100%;
    height: 45vw;
}

.donation-header {
    font-family: "Poppins-Bold";
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.intro{
    width: 100%;
    left: 5%;
    padding-top: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 0px 100px;
}

.intro-header{
    font-family: "Poppins-Bold";
    font-size: 30px;
}

.intro-body{
    font-family: "Poppins-Regular";
    font-size: 20px;
}

.donatebtn {
    background-color: #0047ab;
    border: none;
    color: #f8f7f2;
    font-size: 25px;
    font-family: "Poppins-Bold";
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 50px;
}

.donatebtn:hover {
    background-color: #df2935;
}

.drivetitle {
    text-align: center;
}
.body-container{
    width: 100%;
}

.img-container{
    margin: 50px; 
    display: flex;
}

.img1{
    width: 350px;
}

.img-description{
    display: flex;
    font-family: "Poppins-Regular";
    font-size: 30px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.benefits {
    background-color: #0047ab;
    color: white;
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  screen and (max-width: 600px) {
    .intro{
        width: 100%;
        left: 5%;
        padding-top: 5vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 35px 0px 35px; 
    }

    .intro-header{
        font-family: "Poppins-Semibold";
        font-size: 30px;
    }
    
    .intro-body{
        font-family: "Poppins-Regular";
        font-size: 12px;
    }

    .body-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .img-container{
        margin: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .img1{
        width: 100px;
        height: 100px;
    }
    
    .img-description{
        display: flex;
        flex-direction: column;
        font-family: "Poppins-Regular";
        font-size: 12px;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
    }
    
}