@font-face {
    font-family: "Poppins-Bold";
    src: url("/font/Poppins-Bold.otf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/font/Poppins-Medium.otf");
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kindpayment-method{
    width: 410px;
    height: 260px;
}