@font-face {
    font-family: "Poppins-Bold";
    src: url("/font/Poppins-Bold.otf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/font/Poppins-Medium.otf");
}

.kindpayment-method{
    width: 410px;
    height: 260px;
}